<h1>Login to your account</h1><br>


<%# Best practice going forward: %>
<%= form_with(url: login_path) do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>

  <%= form.submit "Login" %>
<% end %>
